{:paths ["src" "resources"]
 :deps {org.clojure/clojure       {:mvn/version "1.11.1"}
        org.clojure/core.async    {:mvn/version "1.7.701"}
        com.fulcrologic/fulcro    {:mvn/version "3.8.2"}
        com.wsscode/pathom        {:mvn/version "2.4.0"}
        com.niamu/dcg-codec       {:local/root "../codec/clojure/"}
        com.niamu/dcg-db          {:local/root "../db/"}
        hiccup/hiccup             {:mvn/version "2.0.0-RC2"}
        instaparse/instaparse     {:mvn/version "1.5.0"}
        metosin/reitit            {:mvn/version "0.7.0-alpha7"}
        ring/ring-core            {:mvn/version "1.11.0"}
        ring/ring-jetty-adapter   {:mvn/version "1.11.0"}
        ring/ring-defaults        {:mvn/version "0.4.0"}}
 :aliases {:dev
           {:extra-deps  {org.clojure/clojurescript {:mvn/version "1.11.132"}
                          thheller/shadow-cljs      {:mvn/version "2.28.20"}
                          binaryage/devtools        {:mvn/version  "1.0.7"}
                          cider/cider-nrepl         {:mvn/version "0.52.0"}}}

           :test/clj {:extra-paths ["test"]
                      :extra-deps
                      {org.clojure/test.check {:mvn/version "1.1.1"}
                       io.github.cognitect-labs/test-runner {:git/tag "v0.5.1"
                                                             :git/sha "dfb30dd"}}
                      :main-opts ["-m" "cognitect.test-runner"]}}}
