{:paths ["src" "resources"]
 :deps {org.clojure/clojure                   {:mvn/version "1.11.1"}
        com.niamu/dcg-codec                   {:local/root "../codec/clojure/"}
        com.niamu/dcg-db                      {:local/root "../db/"}
        hiccup/hiccup                         {:mvn/version "2.0.0-RC2"}
        instaparse/instaparse                 {:mvn/version "1.4.12"}
        metosin/reitit                        {:mvn/version "0.7.0-alpha7"}
        ring/ring-core                        {:mvn/version "1.11.0"}
        ring/ring-jetty-adapter               {:mvn/version "1.11.0"}
        ring/ring-defaults                    {:mvn/version "0.4.0"}}
 :jvm-opts ["-Xmx8g"
            "-Xms6g"]}
