{:main                 dcg.json
 :output-to            "resources/public/js/dcg.js"
 :optimizations        :advanced
 :pretty-print         false
 :parallel-build       true
 :source-map-timestamp true}
