{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/clojurescript {:mvn/version "1.10.773"}
        org.clojure/tools.cli {:mvn/version "1.0.206"}}
 :aliases {:dcg/cli    {:main-opts ["-m" "dcg.cli"]}
           :dcg/encode {:main-opts ["-m" "dcg.codec.encode"]}
           :dcg/decode {:main-opts ["-m" "dcg.codec.decode"]}

           :figwheel
           {:extra-paths ["dev" "resources"]
            :extra-deps {com.bhauman/figwheel-main {:mvn/version "0.2.12"}
                         com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}}
            :main-opts ["-m" "figwheel.main" "--build" "figwheel" "--repl"]}
           :cljs
           {:extra-paths ["dev"]
            :main-opts ["-m" "cljs.main" "-co" "build.cljs.edn" "-c"]}

           :native-image
           {:extra-deps {org.clojure/tools.cli {:mvn/version "1.0.206"}
                         luchiniatwork/cambada {:mvn/version "1.0.2"}}
            :main-opts ["--report" "stderr"
                        "-m" "cambada.native-image"
                        "-O" "-report-unsupported-elements-at-runtime"
                        "-O" "H:-UseServiceLoaderFeature"
                        "-m" "dcg.cli"]}

           :test/clj
           {:extra-paths ["test"]
            :extra-deps
            {org.clojure/test.check {:mvn/version "1.1.0"}
             com.cognitect/test-runner
             {:git/url "https://github.com/cognitect-labs/test-runner.git"
              :sha "028a6d41ac9ac5d5c405dfc38e4da6b4cc1255d5"}}
            :main-opts ["-m" "cognitect.test-runner"]}

           :test/cljs
           {:extra-paths ["test"]
            :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}
                         olical/cljs-test-runner {:mvn/version "3.8.0"}}
            :main-opts ["-m" "cljs-test-runner.main"]}}}
