{:en      {:card-number "Card Number"
           :color "Colour"
           :rarity "Rarity"
           :category "Category"
           :level "Level"
           :name "Name"
           :block-icon "Block Icon"
           :supplemental-rarity "Supplemental Rarity"
           :alternative-art "Alternative Art"
           :play-cost "Play Cost"
           :use-cost "Use Cost"
           :form "Form"
           :attribute "Attribute"
           :type "Type"
           :digivolution-requirements "Digivolution Requirements"
           :digivolve-cost "Digivolve Cost"
           :effect "Effect"
           :inherited-effect "Inherited Effect"
           :security-effect "Security Effect"
           :errata "Errata"
           :date "Date"
           :correction "Correction"
           :restrictions "Restrictions"
           :limitation-type "Limitation Type"
           :card-allowance "Card Allowance"
           :paired-cards "Paired Cards"
           :releases "Releases"
           :genre "Genre"
           :release-name "Release Name"
           :note "Note"
           :notes "Notes"

           :digi-egg "Digi-Egg"
           :digimon "Digimon"
           :tamer "Tamer"
           :option "Option"

           :standard "Stnd."
           :super "Sup."
           :ultimate "Ult."
           :god "God"

           :red "Red"
           :blue "Blue"
           :yellow "Yellow"
           :green "Green"
           :black "Black"
           :purple "Purple"
           :white "White"}
 :ja      {:card-number "カード番号"
           :color "色"
           :category "カテゴリ"
           :level "Lv."
           :note "ご注意"
           :notes "ご注意"

           :alternative-art "パラレル"
           :play-cost "登場コスト"
           :use-cost "登場コスト"

           :form "形態"
           :attribute "属性"
           :type "タイプ"
           :digivolution-requirements "進化条件"
           :digivolve-cost "コスト"

           :effect "効果"
           :inherited-effect "進化元効果"
           :security-effect "セキュリティ効果"
           :date "日付"
           :releases "入手情報"

           :digi-egg "デジタマ"
           :digimon "デジモン"
           :tamer "テイマー"
           :option "オプション"

           :standard "並"
           :super "超"
           :ultimate "極"
           :god "神"

           :red "紫"
           :blue "青"
           :yellow "黄"
           :green "緑"
           :black "黒"
           :purple "紫"
           :white "白"}
 :zh-Hans {:card-number "卡号"
           :color "颜色"
           :category "类别"
           :level "Lv."

           :alternative-art "异画卡"
           :play-cost "登场费用"
           :use-cost "费用"

           :form "形态"
           :attribute "属性"
           :type "类型"
           :digivolution-requirements "进化条件"
           :digivolve-cost "费用"

           :effect "效果"
           :inherited-effect "进化源效果"
           :security-effect "安防效果"

           :date "日期"
           :releases "获得方式"

           :digi-egg "数码蛋"
           :digimon "数码宝贝"
           :tamer "驯兽师"
           :option "选项"

           :standard "普"
           :super "超"
           :ultimate "超"
           :god "神"

           :red "红"
           :blue "蓝"
           :yellow "黄"
           :green "绿"
           :black "黑"
           :purple "紫"
           :white "白"}
 :ko      {:card-number "카드 번호"
           :color "색상"

           :date "날짜"

           :digi-egg "디지타마"
           :digimon "디지몬"
           :tamer "테이머"
           :option "옵션"}}
