.DS_Store
.cpcache/
.nrepl-port
.clj-kondo/
.lsp/
target/
resources/*dcgcv*
resources/images/cards/en/
resources/images/cards/ja/
resources/images/cards/ko/
resources/images/cards/zh-Hans/
resources/images/icons/
resources/images/releases/
resources/images/btcg-cards/
resources/images/wiki-cards/
resources/public/images/cards/
resources/db/
resources/phash_db.json
resources/cards.transit.json
src/main.rs
dev/*
