.DS_Store
.cpcache/
.nrepl-port
.clj-kondo/
.lsp/
target/
resources/*dcgcv*
resources/images/cards/en/
resources/images/cards/ja/
resources/images/cards/ko/
resources/images/cards/zh-Hans/
resources/images/cards/btcg/
resources/images/cards/wiki/
resources/images/icons/
resources/images/releases/
resources/db.edn
resources/phash_db.json
src/main.rs
