{:paths ["src" "dev" "resources"]
 :deps {org.clojure/clojure                   {:mvn/version "1.11.1"}
        com.cognitect/transit-clj             {:mvn/version "1.0.333"}
        com.github.jnr/jnr-ffi                {:mvn/version "2.2.14"}
        com.datomic/local                     {:mvn/version "1.0.291"}
        com.taoensso/timbre                   {:mvn/version "6.6.1"}
        com.taoensso/timbre-slf4j             {:mvn/version "6.6.1"}
        clj-http/clj-http                     {:mvn/version "3.12.3"}
        hickory/hickory                       {:mvn/version "0.7.1"}
        org.slf4j/slf4j-api                   {:mvn/version "2.0.17"}}
 :aliases {:ingest {:exec-fn dcg.db.core/ingest}
           :export {:exec-fn dcg.db.core/-main}}}
