#{["BT5-012"
   {1
    #{"card/ja_BT5-012_P1"
      "card/zh-Hans_BT5-012_P1"
      "card/ko_BT5-012_P1"
      "card/en_BT5-012_P2"}}]
  ["BT16-083"
   {3
    #{"card/ko_BT16-083_P1"
      "card/en_BT16-083_P0"
      "card/zh-Hans_BT16-083_P0"
      "card/ja_BT16-083_P1"
      "card/zh-Hans_BT16-083_P1"
      "card/en_BT16-083_P1"
      "card/ko_BT16-083_P0"
      "card/ja_BT16-083_P0"}}]
  ["EX6-008"
   {3
    #{"card/ko_EX6-008_P0"
      "card/ja_EX6-008_P0"
      "card/zh-Hans_EX6-008_P0"
      "card/en_EX6-008_P0"}}]
  ["ST16-08"
   {3
    #{"card/ko_ST16-08_P0"
      "card/en_ST16-08_P0"
      "card/zh-Hans_ST16-08_P0"
      "card/ja_ST16-08_P0"}}]
  ["BT16-088"
   {3
    #{"card/ja_BT16-088_P0"
      "card/en_BT16-088_P0"
      "card/ko_BT16-088_P0"
      "card/zh-Hans_BT16-088_P0"
      "card/zh-Hans_BT16-088_P1"
      "card/ko_BT16-088_P1"
      "card/en_BT16-088_P1"
      "card/ja_BT16-088_P1"}}]
  ["BT14-087"
   {3
    #{"card/ko_BT14-087_P1"
      "card/zh-Hans_BT14-087_P0"
      "card/ko_BT14-087_P0"
      "card/en_BT14-087_P1"
      "card/en_BT14-087_P0"
      "card/ja_BT14-087_P1"
      "card/zh-Hans_BT14-087_P1"
      "card/ja_BT14-087_P0"}}]
  ["BT10-008"
   {3
    #{"card/en_BT10-008_P1"
      "card/ko_BT10-008_P2"
      "card/en_BT10-008_P2"
      "card/ja_BT10-008_P1"
      "card/zh-Hans_BT10-008_P1"
      "card/ko_BT10-008_P1"
      "card/zh-Hans_BT10-008_P2"
      "card/ja_BT10-008_P2"}}]
  ["LM-040"
   {4
    #{"card/en_LM-040_P0"
      "card/ja_LM-040_P0"
      "card/zh-Hans_LM-040_P0"}}]
  ["BT5-046" {4 #{"card/en_BT5-046_P1"}}]
  ["BT17-008"
   {3
    #{"card/ko_BT17-008_P0"
      "card/en_BT17-008_P1"
      "card/ja_BT17-008_P2"
      "card/zh-Hans_BT17-008_P1"
      "card/zh-Hans_BT17-008_P0"
      "card/en_BT17-008_P0"
      "card/ja_BT17-008_P0"}}]
  ["BT5-033"
   {3
    #{"card/zh-Hans_BT5-033_P1"
      "card/ko_BT5-033_P1"
      "card/ja_BT5-033_P1"
      "card/en_BT5-033_P1"}}]
  ["BT8-108"
   {3
    #{"card/ja_BT8-108_P2"
      "card/ko_BT8-108_P1"
      "card/zh-Hans_BT8-108_P2"
      "card/en_BT8-108_P2"
      "card/zh-Hans_BT8-108_P1"
      "card/ja_BT8-108_P1"
      "card/en_BT8-108_P3"}}]
  ["BT4-025"
   {2
    #{"card/ko_BT4-025_P2"
      "card/ja_BT4-025_P2"
      "card/zh-Hans_BT4-025_P2"
      "card/en_BT4-025_P2"}}]
  ["BT15-089"
   {3
    #{"card/ko_BT15-089_P0"
      "card/en_BT15-089_P0"
      "card/ja_BT15-089_P0"
      "card/zh-Hans_BT15-089_P0"}}]
  ["EX3-038"
   {3
    #{"card/ja_EX3-038_P1"
      "card/zh-Hans_EX3-038_P1"
      "card/ko_EX3-038_P1"
      "card/en_EX3-038_P1"}}]
  ["LM-041"
   {4
    #{"card/zh-Hans_LM-041_P0"
      "card/en_LM-041_P0"
      "card/ja_LM-041_P0"}}]
  ["BT17-083"
   {3
    #{"card/zh-Hans_BT17-083_P0"
      "card/en_BT17-083_P0"
      "card/ko_BT17-083_P0"
      "card/ja_BT17-083_P0"
      "card/ja_BT17-083_P1"
      "card/zh-Hans_BT17-083_P1"
      "card/en_BT17-083_P1"
      "card/ko_BT17-083_P1"}}]
  ["BT17-088"
   {3
    #{"card/zh-Hans_BT17-088_P1"
      "card/ko_BT17-088_P1"
      "card/en_BT17-088_P0"
      "card/zh-Hans_BT17-088_P0"
      "card/ja_BT17-088_P0"
      "card/en_BT17-088_P1"
      "card/ja_BT17-088_P1"
      "card/ko_BT17-088_P0"}}]
  ["BT17-089"
   {3
    #{"card/zh-Hans_BT17-089_P0"
      "card/en_BT17-089_P0"
      "card/zh-Hans_BT17-089_P1"
      "card/ko_BT17-089_P1"
      "card/en_BT17-089_P1"
      "card/ja_BT17-089_P1"
      "card/ja_BT17-089_P0"
      "card/ko_BT17-089_P0"}}]
  ["BT15-086"
   {3
    #{"card/ja_BT15-086_P0"
      "card/zh-Hans_BT15-086_P0"
      "card/en_BT15-086_P1"
      "card/en_BT15-086_P2"
      "card/ko_BT15-086_P0"
      "card/ja_BT15-086_P1"
      "card/zh-Hans_BT15-086_P1"
      "card/ko_BT15-086_P1"
      "card/en_BT15-086_P0"}}]
  ["BT3-021"
   {2
    #{"card/ko_BT3-021_P4"
      "card/zh-Hans_BT3-021_P4"
      "card/en_BT3-021_P5"
      "card/ja_BT3-021_P2"
      "card/ko_BT3-021_P3"
      "card/ja_BT3-021_P3"
      "card/ja_BT3-021_P4"
      "card/en_BT3-021_P4"
      "card/ko_BT3-021_P2"
      "card/en_BT3-021_P3"
      "card/zh-Hans_BT3-021_P3"}}]
  ["BT8-039"
   {3
    #{"card/en_BT8-039_P2"
      "card/zh-Hans_BT8-039_P1"
      "card/ja_BT8-039_P2"
      "card/ko_BT8-039_P2"}}]
  ["BT4-010"
   {1
    #{"card/zh-Hans_BT4-010_P1"
      "card/en_BT4-010_P1"
      "card/ja_BT4-010_P1"}}]
  ["BT5-010"
   {1
    #{"card/zh-Hans_BT5-010_P1"
      "card/en_BT5-010_P1"
      "card/ja_BT5-010_P1"
      "card/ko_BT5-010_P1"}}]
  ["EX5-008"
   {3
    #{"card/zh-Hans_EX5-008_P0"
      "card/ko_EX5-008_P0"
      "card/en_EX5-008_P0"
      "card/ja_EX5-008_P0"}}]
  ["P-205"
   {5
    #{"card/en_P-205_P0"
      "card/en_P-205_P1"
      "card/zh-Hans_P-205_P0"
      "card/zh-Hans_P-205_P1"
      "card/ja_P-205_P0"
      "card/ja_P-205_P1"}}]
  ["BT16-081"
   {3
    #{"card/zh-Hans_BT16-081_P1"
      "card/zh-Hans_BT16-081_P0"
      "card/ko_BT16-081_P1"
      "card/ja_BT16-081_P0"
      "card/en_BT16-081_P0"
      "card/en_BT16-081_P1"
      "card/ko_BT16-081_P0"
      "card/ja_BT16-081_P1"}}]
  ["BT15-084"
   {3
    #{"card/ja_BT15-084_P0"
      "card/en_BT15-084_P1"
      "card/zh-Hans_BT15-084_P0"
      "card/ja_BT15-084_P1"
      "card/zh-Hans_BT15-084_P1"
      "card/en_BT15-084_P0"
      "card/ko_BT15-084_P0"
      "card/ja_BT15-084_P2"
      "card/ko_BT15-084_P1"
      "card/zh-Hans_BT15-084_P2"
      "card/en_BT15-084_P2"}}]
  ["BT15-080"
   {3
    #{"card/ko_BT15-080_P0"
      "card/ja_BT15-080_P0"
      "card/zh-Hans_BT15-080_P0"
      "card/en_BT15-080_P0"}}]
  ["EX2-025"
   {2
    #{"card/zh-Hans_EX2-025_P2"
      "card/en_EX2-025_P2"
      "card/ja_EX2-025_P2"
      "card/ko_EX2-025_P2"}}]
  ["BT2-018"
   {1
    #{"card/en_BT2-018_P1"
      "card/ko_BT2-018_P1"
      "card/ja_BT2-018_P1"
      "card/zh-Hans_BT2-018_P1"}}]
  ["BT2-001"
   {1
    #{"card/zh-Hans_BT2-001_P1"
      "card/en_BT2-001_P1"
      "card/ja_BT2-001_P1"}}]
  ["ST17-08"
   {3
    #{"card/en_ST17-08_P3"
      "card/zh-Hans_ST17-08_P1"
      "card/ko_ST17-08_P0"
      "card/en_ST17-08_P4"
      "card/ja_ST17-08_P1"
      "card/ko_ST17-08_P1"
      "card/zh-Hans_ST17-08_P0"
      "card/en_ST17-08_P2"
      "card/en_ST17-08_P1"
      "card/en_ST17-08_P0"
      "card/ja_ST17-08_P0"}}]
  ["BT6-018" {nil #{"card/zh-Hans_BT6-018_P2"}}]
  ["LM-008"
   {3
    #{"card/ja_LM-008_P0"
      "card/zh-Hans_LM-008_P0"
      "card/en_LM-008_P0"
      "card/ko_LM-008_P0"}}]
  ["BT16-084"
   {3
    #{"card/ja_BT16-084_P1"
      "card/ko_BT16-084_P0"
      "card/en_BT16-084_P1"
      "card/zh-Hans_BT16-084_P0"
      "card/en_BT16-084_P0"
      "card/ko_BT16-084_P1"
      "card/zh-Hans_BT16-084_P1"
      "card/ja_BT16-084_P0"}}]
  ["BT12-034"
   {3
    #{"card/en_BT12-034_P1"
      "card/zh-Hans_BT12-034_P1"
      "card/ko_BT12-034_P1"
      "card/ja_BT12-034_P1"}}]
  ["EX1-073" {nil #{"card/en_EX1-073_P2"}}]
  ["BT16-089"
   {3
    #{"card/ko_BT16-089_P0"
      "card/zh-Hans_BT16-089_P0"
      "card/en_BT16-089_P0"
      "card/ja_BT16-089_P0"}}]
  ["BT5-021"
   {2
    #{"card/zh-Hans_BT5-021_P1"
      "card/ko_BT5-021_P1"
      "card/en_BT5-021_P1"
      "card/ja_BT5-021_P1"}}]
  ["BT2-013"
   {1
    #{"card/zh-Hans_BT2-013_P1"
      "card/ja_BT2-013_P1"
      "card/en_BT2-013_P1"}}]
  ["BT14-081"
   {3
    #{"card/en_BT14-081_P0"
      "card/ko_BT14-081_P0"
      "card/zh-Hans_BT14-081_P1"
      "card/zh-Hans_BT14-081_P2"
      "card/en_BT14-081_P5"
      "card/en_BT14-081_P2"
      "card/ko_BT14-081_P1"
      "card/ja_BT14-081_P1"
      "card/en_BT14-081_P4"
      "card/ja_BT14-081_P0"
      "card/en_BT14-081_P1"
      "card/zh-Hans_BT14-081_P0"
      "card/en_BT14-081_P3"
      "card/ko_BT14-081_P2"
      "card/ja_BT14-081_P2"}}]
  ["BT1-010"
   {1
    #{"card/zh-Hans_BT1-010_P1"
      "card/ja_BT1-010_P2"
      "card/ko_BT1-010_P2"
      "card/en_BT1-010_P2"}}]
  ["LM-042"
   {4
    #{"card/zh-Hans_LM-042_P0"
      "card/en_LM-042_P0"
      "card/ja_LM-042_P0"}}]
  ["P-104"
   {4
    #{"card/en_P-104_P1"
      "card/en_P-104_P3"
      "card/en_P-104_P2"
      "card/ja_P-104_P3"
      "card/ko_P-104_P1"
      "card/ja_P-104_P2"
      "card/zh-Hans_P-104_P1"
      "card/ja_P-104_P1"
      "card/zh-Hans_P-104_P2"
      "card/ko_P-104_P2"}}]
  ["BT4-016"
   {1
    #{"card/ko_BT4-016_P1"
      "card/en_BT4-016_P1"
      "card/zh-Hans_BT4-016_P1"
      "card/ja_BT4-016_P1"}}]
  ["BT7-033"
   {3
    #{"card/zh-Hans_BT7-033_P1"
      "card/ja_BT7-033_P1"
      "card/en_BT7-033_P1"}}]
  ["BT1-019"
   {1
    #{"card/zh-Hans_BT1-019_P1"
      "card/ko_BT1-019_P1"
      "card/en_BT1-019_P1"
      "card/ja_BT1-019_P1"}}]
  ["BT14-083"
   {3
    #{"card/zh-Hans_BT14-083_P0"
      "card/ja_BT14-083_P0"
      "card/ko_BT14-083_P1"
      "card/en_BT14-083_P0"
      "card/zh-Hans_BT14-083_P1"
      "card/ko_BT14-083_P0"
      "card/ja_BT14-083_P1"
      "card/en_BT14-083_P1"}}]
  ["BT17-086"
   {3
    #{"card/en_BT17-086_P0"
      "card/en_BT17-086_P1"
      "card/zh-Hans_BT17-086_P0"
      "card/ja_BT17-086_P1"
      "card/zh-Hans_BT17-086_P1"
      "card/ja_BT17-086_P0"
      "card/ko_BT17-086_P0"
      "card/ko_BT17-086_P1"}}]
  ["BT14-082"
   {3
    #{"card/zh-Hans_BT14-082_P0"
      "card/ko_BT14-082_P0"
      "card/ja_BT14-082_P1"
      "card/ja_BT14-082_P0"
      "card/ko_BT14-082_P1"
      "card/zh-Hans_BT14-082_P1"
      "card/en_BT14-082_P1"
      "card/en_BT14-082_P0"}}]
  ["BT17-043"
   {4
    #{"card/en_BT17-043_P1"
      "card/ja_BT17-043_P1"
      "card/zh-Hans_BT17-043_P1"}}]
  ["BT7-032"
   {3
    #{"card/ja_BT7-032_P1"
      "card/en_BT7-032_P1"
      "card/zh-Hans_BT7-032_P1"}}]
  ["BT17-082"
   {3
    #{"card/zh-Hans_BT17-082_P0"
      "card/ja_BT17-082_P1"
      "card/ko_BT17-082_P0"
      "card/zh-Hans_BT17-082_P1"
      "card/en_BT17-082_P1"
      "card/ja_BT17-082_P0"
      "card/en_BT17-082_P0"
      "card/ko_BT17-082_P1"}}]
  ["BT6-021" {2 #{"card/zh-Hans_BT6-021_P1" "card/ja_BT6-021_P1"}}]
  ["BT15-087"
   {3
    #{"card/ja_BT15-087_P1"
      "card/ko_BT15-087_P1"
      "card/en_BT15-087_P0"
      "card/ja_BT15-087_P0"
      "card/zh-Hans_BT15-087_P1"
      "card/ko_BT15-087_P0"
      "card/zh-Hans_BT15-087_P0"
      "card/en_BT15-087_P1"
      "card/en_BT15-087_P2"}}]
  ["P-105"
   {5
    #{"card/en_P-105_P4"
      "card/ja_P-105_P4"
      "card/zh-Hans_P-105_P3"}}]
  ["BT15-083"
   {3
    #{"card/ja_BT15-083_P1"
      "card/zh-Hans_BT15-083_P1"
      "card/ja_BT15-083_P0"
      "card/ko_BT15-083_P0"
      "card/en_BT15-083_P1"
      "card/zh-Hans_BT15-083_P0"
      "card/en_BT15-083_P0"
      "card/ko_BT15-083_P1"}}]
  ["BT2-010"
   {1
    #{"card/zh-Hans_BT2-010_P1"
      "card/ja_BT2-010_P1"
      "card/en_BT2-010_P1"}}]
  ["BT16-086"
   {3
    #{"card/en_BT16-086_P1"
      "card/en_BT16-086_P0"
      "card/zh-Hans_BT16-086_P0"
      "card/ja_BT16-086_P0"
      "card/ko_BT16-086_P0"}}]
  ["BT14-089"
   {3
    #{"card/ja_BT14-089_P0"
      "card/zh-Hans_BT14-089_P0"
      "card/ko_BT14-089_P0"
      "card/en_BT14-089_P0"}}]
  ["BT12-001" {1 #{"card/en_BT12-001_P1"}}]
  ["BT15-082"
   {3
    #{"card/en_BT15-082_P0"
      "card/ja_BT15-082_P2"
      "card/zh-Hans_BT15-082_P2"
      "card/zh-Hans_BT15-082_P1"
      "card/en_BT15-082_P1"
      "card/ko_BT15-082_P0"
      "card/ja_BT15-082_P0"
      "card/ko_BT15-082_P1"
      "card/zh-Hans_BT15-082_P0"
      "card/en_BT15-082_P2"
      "card/ja_BT15-082_P1"}}]
  ["BT2-011"
   {1
    #{"card/zh-Hans_BT2-011_P1"
      "card/ja_BT2-011_P1"
      "card/en_BT2-011_P1"
      "card/ko_BT2-011_P1"}}]
  ["EX1-025"
   {2
    #{"card/zh-Hans_EX1-025_P1"
      "card/ko_EX1-025_P1"
      "card/ja_EX1-025_P1"
      "card/en_EX1-025_P1"}}]
  ["EX4-032"
   {3
    #{"card/zh-Hans_EX4-032_P1"
      "card/en_EX4-032_P1"
      "card/ja_EX4-032_P1"
      "card/en_EX4-032_P2"
      "card/ko_EX4-032_P1"}}]
  ["BT5-087" {3 #{"card/en_BT5-087_P4"}}]
  ["BT17-087"
   {3
    #{"card/en_BT17-087_P0"
      "card/en_BT17-087_P1"
      "card/zh-Hans_BT17-087_P0"
      "card/ja_BT17-087_P1"
      "card/zh-Hans_BT17-087_P1"
      "card/ko_BT17-087_P0"
      "card/ko_BT17-087_P1"
      "card/ja_BT17-087_P0"}}]
  ["BT14-086"
   {3
    #{"card/ko_BT14-086_P1"
      "card/en_BT14-086_P0"
      "card/en_BT14-086_P1"
      "card/ja_BT14-086_P0"
      "card/zh-Hans_BT14-086_P1"
      "card/en_BT14-086_P2"
      "card/ja_BT14-086_P1"
      "card/zh-Hans_BT14-086_P0"
      "card/ko_BT14-086_P0"}}]
  ["BT14-084"
   {3
    #{"card/ja_BT14-084_P1"
      "card/en_BT14-084_P0"
      "card/en_BT14-084_P1"
      "card/ko_BT14-084_P1"
      "card/ko_BT14-084_P0"
      "card/zh-Hans_BT14-084_P1"
      "card/ja_BT14-084_P0"
      "card/zh-Hans_BT14-084_P0"}}]
  ["EX4-033"
   {3
    #{"card/ja_EX4-033_P2"
      "card/zh-Hans_EX4-033_P2"
      "card/en_EX4-033_P2"
      "card/ko_EX4-033_P2"}}]
  ["BT5-001"
   {1
    #{"card/zh-Hans_BT5-001_P1"
      "card/ko_BT5-001_P1"
      "card/ja_BT5-001_P1"
      "card/en_BT5-001_P1"}}]
  ["EX4-034"
   {3
    #{"card/ja_EX4-034_P1"
      "card/en_EX4-034_P1"
      "card/zh-Hans_EX4-034_P1"
      "card/ko_EX4-034_P1"
      "card/en_EX4-034_P2"}}]
  ["BT16-082"
   {3
    #{"card/en_BT16-082_P3"
      "card/ko_BT16-082_P0"
      "card/en_BT16-082_P2"
      "card/en_BT16-082_P4"
      "card/ja_BT16-082_P0"
      "card/en_BT16-082_P1"
      "card/en_BT16-082_P0"
      "card/zh-Hans_BT16-082_P0"
      "card/ja_BT16-082_P1"
      "card/ko_BT16-082_P1"
      "card/zh-Hans_BT16-082_P1"
      "card/en_BT16-082_P5"
      "card/ja_BT16-082_P2"
      "card/zh-Hans_BT16-082_P2"}}]
  ["EX2-023"
   {2
    #{"card/ja_EX2-023_P1"
      "card/en_EX2-023_P1"
      "card/zh-Hans_EX2-023_P1"
      "card/ko_EX2-023_P1"}}]
  ["ST7-02"
   {2
    #{"card/ja_ST7-02_P1"
      "card/en_ST7-02_P1"
      "card/ko_ST7-02_P1"
      "card/zh-Hans_ST7-02_P1"}}]
  ["P-031"
   {3
    #{"card/en_P-031_P1"
      "card/ko_P-031_P1"
      "card/zh-Hans_P-031_P1"
      "card/ja_P-031_P1"}}]
  ["BT15-008"
   {3
    #{"card/zh-Hans_BT15-008_P0"
      "card/ko_BT15-008_P0"
      "card/en_BT15-008_P0"
      "card/ja_BT15-008_P0"}}]
  ["P-102"
   {2
    #{"card/en_P-102_P0"
      "card/ja_P-102_P0"
      "card/zh-Hans_P-102_P0"
      "card/ko_P-102_P0"}}]
  ["BT16-008"
   {3
    #{"card/en_BT16-008_P0"
      "card/ja_BT16-008_P0"
      "card/ko_BT16-008_P0"
      "card/zh-Hans_BT16-008_P0"}}]
  ["BT15-088"
   {3
    #{"card/ja_BT15-088_P0"
      "card/ko_BT15-088_P0"
      "card/en_BT15-088_P0"
      "card/zh-Hans_BT15-088_P0"}}]
  ["EX1-027"
   {2
    #{"card/ko_EX1-027_P1"
      "card/zh-Hans_EX1-027_P1"
      "card/ja_EX1-027_P1"
      "card/en_EX1-027_P1"}}]
  ["EX1-024"
   {2
    #{"card/ja_EX1-024_P2"
      "card/zh-Hans_EX1-024_P2"
      "card/ko_EX1-024_P2"
      "card/en_EX1-024_P2"}}]
  ["BT10-081"
   {3
    #{"card/ko_BT10-081_P1"
      "card/en_BT10-081_P1"
      "card/ja_BT10-081_P1"
      "card/zh-Hans_BT10-081_P1"}}]
  ["BT14-008"
   {3
    #{"card/ja_BT14-008_P0"
      "card/ko_BT14-008_P0"
      "card/en_BT14-008_P0"
      "card/zh-Hans_BT14-008_P0"}}]
  ["BT17-085"
   {3
    #{"card/en_BT17-085_P0"
      "card/en_BT17-085_P2"
      "card/zh-Hans_BT17-085_P0"
      "card/zh-Hans_BT17-085_P1"
      "card/ja_BT17-085_P1"
      "card/ja_BT17-085_P2"
      "card/en_BT17-085_P1"
      "card/ja_BT17-085_P0"
      "card/en_BT17-085_P3"
      "card/ko_BT17-085_P0"
      "card/zh-Hans_BT17-085_P2"
      "card/ko_BT17-085_P1"}}]
  ["BT14-085"
   {3
    #{"card/en_BT14-085_P2"
      "card/ja_BT14-085_P1"
      "card/ja_BT14-085_P2"
      "card/en_BT14-085_P1"
      "card/en_BT14-085_P0"
      "card/zh-Hans_BT14-085_P1"
      "card/ko_BT14-085_P1"
      "card/ko_BT14-085_P0"
      "card/ja_BT14-085_P0"
      "card/zh-Hans_BT14-085_P0"
      "card/zh-Hans_BT14-085_P2"}}]
  ["BT1-015"
   {1
    #{"card/ko_BT1-015_P1"
      "card/zh-Hans_BT1-015_P1"
      "card/en_BT1-015_P1"}}]
  ["BT2-015" {1 #{"card/ja_BT2-015_P1"}}]
  ["BT16-085"
   {3
    #{"card/zh-Hans_BT16-085_P1"
      "card/ja_BT16-085_P1"
      "card/ko_BT16-085_P1"
      "card/en_BT16-085_P0"
      "card/ko_BT16-085_P0"
      "card/zh-Hans_BT16-085_P0"
      "card/en_BT16-085_P1"
      "card/ja_BT16-085_P0"}}]
  ["BT5-026"
   {2
    #{"card/zh-Hans_BT5-026_P1"
      "card/ko_BT5-026_P1"
      "card/en_BT5-026_P2"
      "card/ja_BT5-026_P1"}}]
  ["ST15-08"
   {3
    #{"card/en_ST15-08_P0"
      "card/ko_ST15-08_P0"
      "card/ja_ST15-08_P0"
      "card/zh-Hans_ST15-08_P0"}}]
  ["BT3-002"
   {2
    #{"card/ko_BT3-002_P1"
      "card/en_BT3-002_P3"
      "card/ja_BT3-002_P1"}}]
  ["BT17-080"
   {3
    #{"card/ja_BT17-080_P0"
      "card/zh-Hans_BT17-080_P1"
      "card/ko_BT17-080_P0"
      "card/ko_BT17-080_P1"
      "card/zh-Hans_BT17-080_P0"
      "card/ja_BT17-080_P1"
      "card/en_BT17-080_P2"
      "card/en_BT17-080_P0"
      "card/en_BT17-080_P1"}}]
  ["BT2-016"
   {1
    #{"card/ja_BT2-016_P1"
      "card/zh-Hans_BT2-016_P1"
      "card/ko_BT2-016_P1"
      "card/en_BT2-016_P1"}}]
  ["BT15-081"
   {3
    #{"card/ja_BT15-081_P1"
      "card/ja_BT15-081_P0"
      "card/zh-Hans_BT15-081_P0"
      "card/ko_BT15-081_P1"
      "card/zh-Hans_BT15-081_P1"
      "card/en_BT15-081_P0"
      "card/en_BT15-081_P1"
      "card/ko_BT15-081_P0"}}]
  ["BT17-084"
   {3
    #{"card/zh-Hans_BT17-084_P1"
      "card/en_BT17-084_P0"
      "card/ko_BT17-084_P1"
      "card/en_BT17-084_P1"
      "card/zh-Hans_BT17-084_P0"
      "card/ko_BT17-084_P0"
      "card/ja_BT17-084_P1"
      "card/ja_BT17-084_P0"}}]
  ["BT14-080"
   {3
    #{"card/zh-Hans_BT14-080_P0"
      "card/ko_BT14-080_P0"
      "card/ja_BT14-080_P0"
      "card/en_BT14-080_P0"}}]
  ["BT16-080"
   {3
    #{"card/en_BT16-080_P1"
      "card/ja_BT16-080_P1"
      "card/en_BT16-080_P0"
      "card/ja_BT16-080_P0"
      "card/ko_BT16-080_P1"
      "card/zh-Hans_BT16-080_P1"
      "card/zh-Hans_BT16-080_P0"
      "card/ko_BT16-080_P0"}}]
  ["EX2-027"
   {2
    #{"card/ja_EX2-027_P1"
      "card/zh-Hans_EX2-027_P1"
      "card/ko_EX2-027_P1"
      "card/en_EX2-027_P1"}}]
  ["BT15-085"
   {3
    #{"card/ja_BT15-085_P1"
      "card/en_BT15-085_P0"
      "card/ko_BT15-085_P1"
      "card/ja_BT15-085_P0"
      "card/zh-Hans_BT15-085_P1"
      "card/en_BT15-085_P1"
      "card/ko_BT15-085_P0"
      "card/zh-Hans_BT15-085_P0"}}]
  ["BT16-087"
   {3
    #{"card/zh-Hans_BT16-087_P0"
      "card/ko_BT16-087_P0"
      "card/ja_BT16-087_P0"
      "card/en_BT16-087_P2"
      "card/ko_BT16-087_P1"
      "card/en_BT16-087_P0"
      "card/ja_BT16-087_P1"
      "card/en_BT16-087_P1"
      "card/zh-Hans_BT16-087_P1"}}]
  ["LM-044"
   {4
    #{"card/en_LM-044_P0"
      "card/ja_LM-044_P0"
      "card/zh-Hans_LM-044_P0"}}]
  ["BT4-015"
   {1
    #{"card/zh-Hans_BT4-015_P1"
      "card/en_BT4-015_P1"
      "card/ko_BT4-015_P1"
      "card/ja_BT4-015_P1"}}]
  ["BT2-012" {1 #{"card/ja_BT2-012_P1"}}]
  ["BT17-081"
   {3
    #{"card/ja_BT17-081_P1"
      "card/zh-Hans_BT17-081_P1"
      "card/ko_BT17-081_P0"
      "card/en_BT17-081_P0"
      "card/en_BT17-081_P1"
      "card/zh-Hans_BT17-081_P0"
      "card/ko_BT17-081_P1"
      "card/ja_BT17-081_P0"}}]
  ["P-028"
   {2 #{"card/ko_P-028_P1" "card/ja_P-028_P2" "card/en_P-028_P3"}}]
  ["BT5-085" {3 #{"card/ko_BT5-085_P2" "card/ja_BT5-085_P2"}}]
  ["LM-050"
   {5
    #{"card/en_LM-050_P0"
      "card/zh-Hans_LM-050_P0"
      "card/ja_LM-050_P0"}}]
  ["BT14-088"
   {3
    #{"card/ko_BT14-088_P0"
      "card/en_BT14-088_P1"
      "card/ja_BT14-088_P0"
      "card/zh-Hans_BT14-088_P0"
      "card/en_BT14-088_P0"}}]
  ["LM-043"
   {4
    #{"card/en_LM-043_P0"
      "card/ja_LM-043_P0"
      "card/zh-Hans_LM-043_P0"}}]}