[[["card/ja_EX7-048_P2" "card/ja_EX7-013_P2" "card/ja_EX7-059_P3"]]
 [["card/en_EX7-048_P2" "card/en_EX7-013_P2" "card/en_EX7-059_P3"]]
 [["card/zh-Hans_EX7-048_P2" "card/zh-Hans_EX7-013_P2" "card/zh-Hans_EX7-059_P3"]]
 [["card/ja_BT5-085_P2" "card/ja_P-114_P1"]]
 [["card/en_BT5-085_P2" "card/en_P-114_P1"]]
 [["card/ko_BT5-085_P2" "card/ko_P-114_P1"]]
 [["card/ja_BT17-027_P1" "card/ja_BT17-078_P3" "card/ja_BT17-015_P1"]
  ["card/ja_BT15-026_P3" "card/ja_BT17-007_P2" "card/ja_BT14-014_P4"]
  ["card/ja_BT15-024_P1" "card/ja_BT17-019_P2" "card/ja_BT14-012_P1"]]
 [["card/en_BT17-027_P1" "card/en_BT17-078_P3" "card/en_BT17-015_P1"]
  ["card/en_BT15-026_P3" "card/en_BT17-007_P2" "card/en_BT14-014_P4"]
  ["card/en_BT15-024_P1" "card/en_BT17-019_P2" "card/en_BT14-012_P1"]]
 [["card/zh-Hans_BT17-027_P1" "card/zh-Hans_BT17-078_P3" "card/zh-Hans_BT17-015_P1"]
  ["card/zh-Hans_BT15-026_P3" "card/zh-Hans_BT17-007_P2" "card/zh-Hans_BT14-014_P4"]
  ["card/zh-Hans_BT15-024_P1" "card/zh-Hans_BT17-019_P2" "card/zh-Hans_BT14-012_P1"]]
 [["card/ja_BT6-007_P1" "card/ja_BT6-019_P1"]]
 [["card/en_BT6-007_P1" "card/en_BT6-019_P1"]]
 [["card/zh-Hans_BT6-007_P1" "card/zh-Hans_BT6-019_P1"]]
 [["card/ko_BT6-007_P1" "card/ko_BT6-019_P1"]]
 [["card/ja_BT4-113_P1" "card/ja_BT4-115_P1" "card/ja_BT4-114_P1"]]
 [["card/en_BT4-113_P1" "card/en_BT4-115_P1" "card/en_BT4-114_P1"]]
 [["card/zh-Hans_BT4-113_P1" "card/zh-Hans_BT4-115_P2" "card/zh-Hans_BT4-114_P1"]]
 [["card/ko_BT4-113_P1" "card/ko_BT4-115_P1" "card/ko_BT4-114_P1"]]
 [["card/ja_BT5-085_P1" "card/ja_BT5-086_P3"]]
 [["card/en_BT5-085_P1" "card/en_BT5-086_P3"]]
 [["card/zh-Hans_BT5-085_P1" "card/zh-Hans_BT5-086_P2"]]
 [["card/ko_BT5-085_P1" "card/ko_BT5-086_P3"]]
 [["card/ja_BT18-063_P1" "card/ja_BT18-067_P1"]]
 [["card/en_BT18-063_P1" "card/en_BT18-067_P1"]]
 [["card/zh-Hans_BT18-063_P1" "card/zh-Hans_BT18-067_P1"]]
 [["card/ja_BT5-081_P2" "card/ja_BT5-087_P1"]]
 [["card/en_BT5-081_P2" "card/en_BT5-087_P1"]]
 [["card/zh-Hans_BT5-081_P2" "card/zh-Hans_BT5-087_P2"]]
 [["card/ko_BT5-081_P2" "card/ko_BT5-087_P1"]]
 [["card/ja_BT5-086_P2" "card/ja_BT5-081_P1"]]
 [["card/en_BT5-086_P2" "card/en_BT5-081_P1"]]
 [["card/zh-Hans_BT5-086_P5" "card/zh-Hans_BT5-081_P1"]]
 [["card/ko_BT5-086_P2" "card/ko_BT5-081_P1"]]
 [["card/ja_BT18-078_P1" "card/ja_BT18-079_P1"]]
 [["card/en_BT18-078_P1" "card/en_BT18-079_P1"]]
 [["card/zh-Hans_BT18-078_P1" "card/zh-Hans_BT18-079_P1"]]
 [["card/ja_BT18-083_P1" "card/ja_BT18-040_P1"]]
 [["card/en_BT18-083_P1" "card/en_BT18-040_P1"]]
 [["card/zh-Hans_BT18-083_P1" "card/zh-Hans_BT18-040_P1"]]
 [["card/ja_BT18-042_P1" "card/ja_BT18-018_P1"]]
 [["card/en_BT18-042_P1" "card/en_BT18-018_P1"]]
 [["card/zh-Hans_BT18-042_P1" "card/zh-Hans_BT18-018_P1"]]
 [["card/ja_BT13-017_P0" "card/ja_BT13-019_P0"]]
 [["card/en_BT13-017_P0" "card/en_BT13-019_P0"]]
 [["card/zh-Hans_BT13-017_P0" "card/zh-Hans_BT13-019_P0"]]
 [["card/ko_BT13-017_P0" "card/ko_BT13-019_P0"]]
 [["card/ja_BT6-016_P1" "card/ja_BT6-067_P1"]]
 [["card/en_BT6-016_P1" "card/en_BT6-067_P1"]]
 [["card/zh-Hans_BT6-016_P1" "card/zh-Hans_BT6-067_P1"]]
 [["card/ko_BT6-016_P1" "card/ko_BT6-067_P1"]]
 [["card/ja_BT18-048_P1" "card/ja_BT18-049_P1"]]
 [["card/en_BT18-048_P1" "card/en_BT18-049_P1"]]
 [["card/zh-Hans_BT18-048_P1" "card/zh-Hans_BT18-049_P1"]]
 [["card/ja_BT18-022_P1" "card/ja_BT18-025_P1"]]
 [["card/en_BT18-022_P1" "card/en_BT18-025_P1"]]
 [["card/zh-Hans_BT18-022_P1" "card/zh-Hans_BT18-025_P1"]]
 [["card/ja_BT13-090_P0" "card/ja_BT13-087_P0"]]
 [["card/en_BT13-090_P0" "card/en_BT13-087_P0"]]
 [["card/zh-Hans_BT13-090_P0" "card/zh-Hans_BT13-087_P0"]]
 [["card/ko_BT13-090_P0" "card/ko_BT13-087_P0"]]
 [["card/ja_BT11-031_P0" "card/ja_BT11-015_P0"]]
 [["card/en_BT11-031_P0" "card/en_BT11-015_P0"]]
 [["card/zh-Hans_BT11-031_P0" "card/zh-Hans_BT11-015_P0"]]
 [["card/ko_BT11-031_P0" "card/ko_BT11-015_P0"]]
 [["card/ja_BT5-086_P1" "card/ja_BT5-019_P1"]]
 [["card/en_BT5-086_P1" "card/en_BT5-019_P1"]]
 [["card/zh-Hans_BT5-086_P1" "card/zh-Hans_BT5-019_P1"]]
 [["card/ko_BT5-086_P1" "card/ko_BT5-019_P1"]]
 [["card/ja_BT5-111_P0" "card/ja_BT6-111_P0"]]
 [["card/en_BT5-111_P0" "card/en_BT6-111_P0"]]
 [["card/zh-Hans_BT5-111_P0" "card/zh-Hans_BT6-111_P0"]]
 [["card/ko_BT5-111_P0" "card/ko_BT6-111_P0"]]
 [["card/ja_BT5-087_P2" "card/ja_BT5-086_P4"]]
 [["card/en_BT5-087_P2" "card/en_BT5-086_P4"]]
 [["card/zh-Hans_BT5-087_P3" "card/zh-Hans_BT5-086_P6"]]
 [["card/ko_BT5-087_P2" "card/ko_BT5-086_P4"]]
 [["card/ja_BT5-096_P0" "card/ja_BT5-095_P0"]]
 [["card/en_BT5-096_P0" "card/en_BT5-095_P0"]]
 [["card/zh-Hans_BT5-096_P0" "card/zh-Hans_BT5-095_P0"]]
 [["card/ko_BT5-096_P0" "card/ko_BT5-095_P0"]]
 [["card/ja_EX7-008_P0" "card/ja_EX7-040_P0"]]
 [["card/en_EX7-008_P0" "card/en_EX7-040_P0"]]
 [["card/zh-Hans_EX7-008_P0" "card/zh-Hans_EX7-040_P0"]]
 [["card/ja_EX1-013_P1" "card/ja_BT3-047_P1"]]
 [["card/en_EX1-013_P1" "card/en_BT3-047_P1"]]
 [["card/zh-Hans_EX1-013_P1" "card/zh-Hans_BT3-047_P1"]]]
