{:main dcg.api.resources.search
 :output-to "resources/public/js/search.js"
 :output-dir "target/js/out"
 :optimizations :advanced
 :pretty-print false
 :lite-mode false ; not ready yet
 :elide-to-string true
 :language-out :es-next}
